.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.about-section {
  padding: 70px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.footer-section {
  padding: 10px;
  text-align: center;
  background-color:lightgray;
  color:black;
}

.div{
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.project {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:40%;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.project:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.masthead {
  height: 100vh;
  min-height: 100vh;
  background-image: url("https://sanctuaries.noaa.gov/science/condition/monterey-bay-2015/nearshore-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  color:white
}

.masthead-heading {
  /* Layout Declarations */
  color: white;
  margin-top: -0.2em;
  /* Typography Declarations */
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
}

.roundedImage {
  background: url('./images/profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:100px;
  margin-left: auto;
  margin-right: auto;
  width:210px;
  height:210px;
}

.roundedLogo{
  background: url('./tejasLogo/logo_transparent.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:35px;
  margin-left: auto;
  margin-right: auto;
  width:35px;
  height:35px;
}

/* Create two equal columns that floats next to each other */
.aboutColumn {
  float: left;
  padding: 10px;
}
.left {
  width: 40%;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.aboutRow:after {
  content: "";
  display: table;
  clear: both;
}

.card-img-top {
  height: 25vw;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* LinkedIn */
.fa-linkedin {
  background: #3B5998;
  color: white;
}
/* Github */
.fa-github {
  background: black;
  color: white;
}

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}